@model TaakVM

<!-- Modal -->
<div class="modal fade" id="taakToevoegen" tabindex="-1" aria-labelledby="taakToevoegenLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taakToevoegenLabel">Update Taak</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="Update">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        <label asp-for="Naam">Naam</label>
                        <input asp-for="Naam" class="form-control">
                        <span asp-validation-for="Naam" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Beschrijving">Beschrijving</label>
                        <input asp-for="Beschrijving" class="form-control">
                        <span asp-validation-for="Beschrijving" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Deadline">Deadline</label>
                        <input asp-for="Deadline" class="form-control" type="date" value="@DateTime.Now">                         
                        <span asp-validation-for="Deadline" class="text-danger"></span>
                    </div>
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Annuleren</button>
                <button type="button" class="btn btn-primary" data-save="modal" data-url="@Url.Action("Update","Taak")">Taak updaten</button>
            </div>
        </div>
    </div>
</div>

