@model WebTakenApp.Models.LoginVM

@{
    ViewData["Title"] = "Index";
}

<h1>LogIn</h1>

<h4>Vull alle gevraagde gegevens in</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gebruikersnaam" class="control-label"></label>
                <input asp-for="Gebruikersnaam" class="form-control" />
                <span asp-validation-for="Gebruikersnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wachtwoord" class="control-label"></label>
                <input asp-for="Wachtwoord" class="form-control" />
                <span asp-validation-for="Wachtwoord" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="LogIn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Register" asp-action="Create">Sign Up</a>
</div>

