@using System.Security.Policy
@using WebTakenApp.Models
@model List<GroepVM>
@{
    ViewData["Title"] = "Index";
}
<div class="sidenav">
    <h6>Mijn Groepen</h6> <br />
    @foreach (var groep in Model)
    {
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@groep.Naam</a>
    <ul class="dropdown-menu">
    @foreach (var persoon in groep.personen)
    {
    <li><a class="dropdown-item" href="@Url.Action("Index","Taak", new { groepId = groep.Id, persoonId = persoon.Id})">@persoon.Naam</a></li>
    }
    </ul>
    }
    </div>
<div class="main">
  Rest van pagina
</div>
